<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>MyAccount</display-name>
	<context-param>
		<param-name>atg.preview</param-name>
		<param-value>true</param-value>
	</context-param>
	<filter>
		<filter-name>PageFilter</filter-name>
		<filter-class>atg.filter.dspjsp.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PageFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Nucleus</servlet-name>
		<servlet-class>atg.nucleus.servlet.NucleusServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<context-param>
		<param-name>context-root</param-name>
		<param-value>MyAccount</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<taglib>
		<taglib-uri>/dspTagLib</taglib-uri>
		<taglib-location>/WEB-INF/tld/dspjspTaglib1_0.tld</taglib-location>
	</taglib>
</web-app>